* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.slider {
  width: 1024px;
  height: 655px;
  margin: 5% auto;
  background-color: #aaa;
  overflow: hidden;
}

.slider__cont {
  display: flex;
  flex-direction: column;
}

.slides {
  display: flex;
  width: 400%;
  height: 100%;
}

.slide {
  width: 25%;
  transition: all 0.6s ease;
}

.slide__img {
  margin-top: 25px;
  margin-left: 62px;
  width: 87.892%;
  height: 87.892%;
  object-fit: cover;
  border-radius: 10px;
}

.slide__text {
  margin-top: 10px;
  display: block;
  margin-left: 65px;
}

.slides__nav {
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 100px;
  height: 20px;
  margin-left: 880px;
  margin-top: -37px;
}

.slides__label {
  cursor: pointer;
  width: 17px;
  height: 17px;
  background-color: #1e90ff;
  border: 1px solid #1e90ff;
  border-radius: 50%;
  transition: all 0.7s ease;
}

.slides__label:hover {
  background-color: aliceblue;
  transform: scale(1.1);
}

input[name="slides"]:checked + .slides__label {
  background-color: #0000cd;
}

.slides__label:checked {
  background-color: red;
}

.slides__label:active {
  background-color: skyblue;
}

input[name="slides"] {
  position: absolute;
  visibility: hidden;
}

#slide1:checked ~ .slide1 {
  margin-left: 0;
}

#slide2:checked ~ .slide1 {
  margin-left: -25%;
}

#slide3:checked ~ .slide1 {
  margin-left: -50%;
}

#slide4:checked ~ .slide1 {
  margin-left: -75%;
}

#slide1:checked ~ .slides__nav label:nth-child(1),
#slide2:checked ~ .slides__nav label:nth-child(2),
#slide3:checked ~ .slides__nav label:nth-child(3),
#slide4:checked ~ .slides__nav label:nth-child(4) {
  background-color: #333;
}

#slide1:checked ~ .slides .slides__nav label:nth-child(1),
#slide2:checked ~ .slides .slides__nav label:nth-child(2),
#slide3:checked ~ .slides .slides__nav label:nth-child(3),
#slide4:checked ~ .slides .slides__nav label:nth-child(4) {
  background-color: #0000cd; /* Подсветка активного лейбла */
}
